<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="./styles/style.css">
</head>

<body>
  <div class="container1">
    <div class="InputFileSetting">
      <details open>
        <summary>
          <span class="open">入力ファイル（展開可）</span>
          <span class="close">入力ファイル（折畳可）</span>
        </summary>
        <div class="container1">
          <% if(settingfile.InputDataType) { %>
            <form id="InputDataTypeSelector" onsubmit="return false;">入力方式
              <select name="InputDataType" id="InputDataType" onchange="fileMethodVisible()">
                <% settingfile.InputDataType.map((item)=> { %>
                  <option>
                    <%=item %>
                  </option>
                  <% }) %>
              </select>
              <input type="text" id="FileDirectory" onchange="drawFromHttpFile()"
                value="http://localhost:3000/data?filename=TEST_DATA">
              <input type="file" id="FileDirectoryLocal" accept=".csv" onchange="drawFromLocalFile()">
            </form>
            <% } %>
              <div class="container8">

                <% if(settingfile.RecordNameColumn) { %>
                  <form id="RecordNameColumnSelector" <% if(settingfile.RecordNameColumn.length==1) { %> hidden <% } %>
                      >
                      <label for="RecordNameColumn">名前</label>
                      <select name="RecordNameColumn" id="RecordNameColumn" onchange="changeDynaParm()">
                        <% settingfile.RecordNameColumn.map((item)=> { %>
                          <option>
                            <%=item %>
                          </option>
                          <% }) %>
                      </select>
                  </form>
                  <% } %>
                    <% if(settingfile.CommentColumn) { %>
                      <form id="CommentColumnSelector" <% if(settingfile.CommentColumn.length==1) { %> hidden <% } %>
                          >
                          <label for="CommentColumn">コメント</label>
                          <select name="CommentColumn" id="CommentColumn" onchange="changeDynaParm()">
                            <% settingfile.CommentColumn.map((item)=> { %>
                              <option>
                                <%=item %>
                              </option>
                              <% }) %>
                          </select>
                      </form>
                      <% } %>
                        <% if(settingfile.ColorColumn) { %>
                          <form id="ColorColumnSelector" <% if(settingfile.ColorColumn.length==1) { %> hidden <% } %>
                              >
                              <label for="ColorColumn">色分類項目</label>
                              <select name="ColorColumn" id="ColorColumn" onchange="changeDynaParm()">
                                <% settingfile.ColorColumn.map((item)=> { %>
                                  <option>
                                    <%=item %>
                                  </option>
                                  <% }) %>
                              </select>
                          </form>
                          <% } %>
              </div>
              <div class="container3">
                <% if(settingfile.StartColumn) { %>
                  <form id="StartColumnSelector" <% if(settingfile.StartColumn.length==1 &&
                    settingfile.StartDateType.length==1) { %> hidden <% } %>
                      >
                      <label for="StartColumn">開始時刻項目</label>
                      <select name="StartColumn" id="StartColumn" onchange="changeDynaParm()">
                        <% settingfile.StartColumn.map((item)=> { %>
                          <option>
                            <%=item %>
                          </option>
                          <% }) %>
                      </select>
                      <select name="StartDateType" id="StartDateType" onchange="changeDynaParm()">
                        <% settingfile.StartDateType.map((item)=> { %>
                          <option>
                            <%=item %>
                          </option>
                          <% }) %>
                      </select>
                  </form>
                  <% } %>
                    <% if(settingfile.EndColumn ) { %>
                      <form id="EndColumnSelector" <% if(settingfile.EndColumn.length==1 &&
                        settingfile.EndDateType.length==1) { %> hidden <% } %>
                          >
                          <label for="EndColumn">終了時刻項目</label>
                          <select name="EndColumn" id="EndColumn" onchange="changeDynaParm()">
                            <% settingfile.EndColumn.map((item)=> { %>
                              <option>
                                <%=item %>
                              </option>
                              <% }) %>
                          </select>
                          <select name="EndDateType" id="EndDateType" onchange="changeDynaParm()">
                            <% settingfile.EndDateType.map((item)=> { %>
                              <option>
                                <%=item %>
                              </option>
                              <% }) %>
                          </select>
                      </form>
                      <% } %>
              </div>
        </div>
      </details>
    </div>
  </div>
  <details open>
    <summary>
      <span class="open">表示コントロール（展開可）</span>
      <span class="close">表示コントロール（折畳可）</span>
    </summary>
    <div class="container3">
      <div class="DisplaySetting">
        <% if(settingfile.TimeSpanSetting && settingfile.TimeSpanSetting.length> 1) { %>
          <form id="TimeSpanSettingButton">表示期間
            <% settingfile.TimeSpanSetting.map((item)=> { %>
              <input type="radio" name="TimeSpanSetting" value=<%=item.value %> id = <%= item.id %>
                onchange="changeDynaParm()" <%= item.checked %> >
                  <label for=<%=item.id %>><%= item.label %></label>
                  <% }) %>
          </form>
          <% } %>
            <% if(settingfile.BarWidthSetting && settingfile.BarWidthSetting.length> 1) { %>
              <form id="BarWidthSettingButton">バーの幅
                <% settingfile.BarWidthSetting.map((item)=> { %>
                  <input type="radio" name="BarWidthSetting" value=<%=item.value %> id = <%= item.id %>
                    onchange="changeDynaParm()" <%= item.checked %> >
                      <label for=<%=item.id %>><%= item.label %></label>
                      <% }) %>
              </form>
              <% } %>
                <input type="text" value="0" id="xTotalMove" hidden>
                <input type="text" value="0" id="yTotalMove" hidden>
      </div>
      <div class="ColorSetting">
        <div class="container4">
          <form id="ColorRectStroke" hidden>
            <label>バー枠線</label>
            <input type="color" class="custom-color-input" id="BarFlameColor" value="#849974"
              onchange="changeDynaParm()" />
          </form>
          <form id="ColorLineStroke" hidden>
            <label>区切り枠線</label>
            <input type="color" class="custom-color-input" id="SeparatorLineColor" value="#FFFFFF"
              onchange="changeDynaParm()" />
          </form>
        </div>
        <% if(settingfile.ColorPallette) { %>
          <form id="ColorPallette" <% if(settingfile.ColorPallette.length==1) { %> hidden <% } %>
              >
              <% settingfile.ColorPallette.map((item)=> { %>
                <input type="color" class=<%=item.label %> id = <%=item.id %> value = <%=item.value %>
                    onchange="changeDynaParm()" />
                    <label for=<%=item.id %>><%=item.label %></label>
                    <% }) %>
          </form>
          <% } %>
      </div>
    </div>
    <div class="container1">
      <div class="DisplaySetting">
        <div class="container1">
          <% if(settingfile.GroupNameColumn) { %>
            <form id="GroupNameColumnSelector" <% if(settingfile.GroupNameColumn.length==1) { %> hidden <% } %>
                >
                <label for="GroupNameColumn">縦軸項目</label>
                <select name="GroupNameColumn" id="GroupNameColumn" onchange="changeDynaParm('C')">
                  <% settingfile.GroupNameColumn.map((item)=> { %>
                    <option>
                      <%=item %>
                    </option>
                    <% }) %>
                </select>
            </form>
            <% } %>
              <% if(settingfile.FilterColumn) { %>
                <form id="FilterColumnSelector" onsubmit="return false;">
                  <label for="FilterColumn">フィルタ</label>
                  <select name="FilterColumn" id="FilterColumn">
                    <% settingfile.FilterColumn.map((item)=> { %>
                      <option>
                        <%=item %>
                      </option>
                      <% }) %>
                  </select>
                  <input type="text" id="FilterText" onchange="changeDynaParm('F')" value="name for filter">
                </form>
                <% } %>
                  <% if(settingfile.SearchColumn) { %>
                    <form id="SearchColumnSelector" onsubmit="return false;">
                      <label for="SearchColumn">検索</label>
                      <select name="SearchColumn" id="SearchColumn">
                        <% settingfile.SearchColumn.map((item)=> { %>
                          <option>
                            <%=item %>
                          </option>
                          <% }) %>
                      </select>
                      <input type="text" id="SearchText" onchange="changeDynaParm()" value="name for search">
                    </form>
                    <% } %>
        </div>
      </div>
    </div>
    </div>
  </details>
  <div id="mainbody">
    <div id="hoverRes">
      <div id="graph"></div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.14.2/d3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="./scripts/makehtml.js"></script>
  <script src="./scripts/datacontrol.js"></script>
  <script src="./scripts/timeline.js"></script>
  <script src="./scripts/main.js"></script>
</body>

</html>